{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Ласкаво просимо до Oderman</h1>

    <div class="weather-widget">
        <h3>Погода в Києві</h3>
        <p class="temperature">{{ weather.temperature }}°C</p>
        <p class="weather-desc">{{ weather.description }}</p>
        <p class="recommendation">{{ weather.recommendation }}</p>
    </div>

    <img src="{{ url_for('static', filename='pizza.jpg') }}" alt="Піцерія Oderman">
    <h2>МЕНЮ</h2>
    <a href="{{ url_for('menu') }}" class="menu-button">Переглянути меню</a>
</div>
{% endblock %}